<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Posts</title>
</head>

<body>
<h1>Blog Posts</h1>

<div th:if="${posts.empty}">
    <p>No posts available.</p>
</div>

<div th:each="post : ${posts}">
    <div class="post">
        <h2 th:text="${post.title}"></h2>
        <p th:text="${post.excerpt}"></p>
<!--        <p>Published by <span th:text="${post.author.name}"></span> on <span th:text="${#dates.format(post.publishedAt, 'dd-MM-yyyy HH:mm')}"></span></p>-->
        <p>ID: <span th:text="${post.id}"></span></p>
        <p>Content: <span th:text="${post.content}"></span></p>
<!--        <p>Is Published: <span th:text="${post.isPublished}"></span></p>-->
<!--        <p>Created At: <span th:text="${#dates.format(post.createdAt, 'dd-MM-yyyy HH:mm')}"></span></p>-->
<!--        <p>Updated At: <span th:text="${#dates.format(post.updatedAt, 'dd-MM-yyyy HH:mm')}"></span></p>-->
    </div>

    <hr>
</div>

</body>

</html>
